<span id="notice"><%= notice %></span>

<div class="page-header">
  <% if can? :wish_lists, current_user %>
    <span class='pull-right'><%= link_to 'New Wish list', new_wish_list_path %></span>
  <% end %>
  <h1>Wish Lists</h1>
</div>

<div class="row">
  <% @wish_lists.each do |wish_list| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <!-- <img src="..." alt="..."> -->
        <span class='pull-right'><%= link_to 'Destroy', wish_list, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        <span class='pull-right'><%= link_to 'Edit', edit_wish_list_path(wish_list) %></span>
        <h3><%= link_to wish_list.title, wish_list %></h3>
        <div class="caption">
          <p><%= wish_list.discreption %></p>
          <p>
            <span class='pull-left' >No. <%= wish_list.required_quantity %></span>
            <span class='pull-right'>$<%= wish_list.price %></span>
          </p>
          <div class='clearfix'></div>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
         <%= form_for 'pledge', url: wish_list_pledge_path(wish_list) do |f| %>
            <%= f.number_field :item_count %>
            <%= submit_tag 'Pledge' %>
          <% end %>
      </div>
    </div>
  <% end %>
</div>
